body {
  margin: 0;
  background: #0b0f14;
  color: #e8f1f2;
  font-family: "Inter", "Segoe UI", sans-serif;
  overflow: hidden;
}

/* container */
#board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 30px;

  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  white-space: nowrap;
}

/* TODO add class */
hr {
  align-self: center;
  width: 95%;
  border: 0.4vh solid white;
  border-radius: 5px;
}

/* stop block */
.stop {
  background: rgba(255,255,255,0.03);
  padding: 15px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
}

/* stop title */
.stop_name {
  font-size: 2.2vw;
  font-weight: 700;
  margin-bottom: 12px;
  color: #ffffff;
}

/* each departure row */
.line {
  font-weight: 500;
  font-size: 1.8vw;
  padding: 4px 0;
}

/* destination */
.destination {
  opacity: 0.9;
  font-size: 1.0vw
}

/* time */
.time {
  align-self: right;
  font-weight: 600;
  font-size: 1.8vw;
}