body {
  margin: 0;
  background: #0b0f14;
  color: #e8f1f2;
  font-family: "Inter", "Segoe UI", sans-serif;
  overflow: hidden;
}

/* container */
#board {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* 3 columns */
  gap: 30px;

  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

/* stop block */
.stop {
  background: rgba(255,255,255,0.03);
  padding: 15px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
}

/* stop title */
.stop-name {
  font-size: 1.2vw;
  font-weight: 700;
  margin-bottom: 12px;
  color: #ffffff;
}

/* each departure row */
.line {
  font-weight: 500;
  font-size: 1.0vw;
  padding: 4px 0;
}

/* destination */
.destination {
  opacity: 0.9;
  font-size: 0.8vw
}

/* time */
.time {
  text-align: right;
  font-weight: 600;
  font-size: 1.1vw;
}